@import 'settings';
@import 'mixins';

.g-button{
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    line-height: 45px;
    font-weight: $medium;
    padding: 0 $unit;
    transition: all 150ms $ease;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    border-width: 2px;
    border-style: solid;

    &.-white{
        &.-outline{
            border-color: $white;
            color: $white;
            background-color: transparent;

            @include hover{
                background-color: rgba($white, 0.07);
            }

            @include active{
                background-color: rgba($white, 0.15);
            }
        }

        &.-solid{
            background-color: $white;
            border-color: $white;
            color: $primary;

            @include hover{
                background-color: $grey-1;
                border-color: $grey-1;
            }

            @include active{
                background-color: $grey-2;
                border-color: $grey-2;
            }
        }
    }

    &.-blue{
        &.-outline{
            border-color: $primary;
            color: $primary;
            background-color: transparent;

            @include hover{
                background-color: rgba($primary, 0.07);
            }

            @include active{
                background-color: rgba($primary, 0.15);
            }
        }

        &.-solid{
            background-color: $primary;
            border-color: $primary;
            color: $white;

            @include hover{
                background-color: lighten($primary, 3);
                border-color: lighten($primary, 3);
            }

            @include active{
                background-color: darken($primary, 3);
                border-color: darken($primary, 3);
            }
        }

        &.-text{
            border-radius: 2px;
            color: $primary;
            padding: 0 $unit-half;
            background-color: transparent;
            border-color: transparent;

            @include hover{
                background-color: rgba($primary, 0.07);
            }

            @include active{
                background-color: rgba($primary, 0.15);
            }
        }
    }

    &.-wide{
        padding: 0 $unit*2;
    }

    &.-short{
        height: 36px;
        line-height: 34px;
    }

    &.-raised{
        box-shadow: $elevation-1;

        @include active{
            box-shadow: $elevation-2;
        }
    }

    &.-rounded{
        border-radius: 4px;

        &.-small{
            border-radius: 2px;
        }

        &.-pill{
            border-radius: 24px;
        }
    }
}
