@import 'settings';
@import 'mixins';

.g-socket-error-message{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: $white;
    border-radius: 8px 8px 0 0;
    box-shadow: $elevation-2;
    padding: $unit*2;
    display: inline-flex;
    width: 840px;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 150ms $ease-out;

    &.is-visible{
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
        transition: all 150ms $ease-in;
    }

    svg{
        @include size(64px, 64px);
        margin-right: $unit*2;
        color: $error;
        opacity: 0.87;
    }
}