@import 'settings';
@import 'mixins';

#homepage{
    canvas{
        width: 1200px;
        max-width: 100vw;
        display: block;
        margin: 0 auto;
    }

    button{
        z-index: 999;
        background-color: $white;
        color: $slate;
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        position: absolute;
        top: 0;
        right: 0;
    }
}


