@import 'settings';
@import 'mixins';

#homepage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .o-form{
        padding: $unit*2;
        background-color: $white;
        border-radius: 4px;
        display: grid;
        width: 460px;
        max-width: 100%;
        grid-template-rows: 1fr;
        gap: $unit;
        box-shadow: $elevation-1;
        position: absolute;

        &.is-hidden{
            animation: hideModal 75ms 0ms $ease-sharp forwards;
        }

        .o-form_row{
            button{
                height: 52px;
                height: 52px;
            }
        }
    }

    #input-split{
        width: 100%;
        display: block;
        text-align: center;
        line-height: 56px;

        &::after{
            content:"";
            display: inline-block;
            background-color: $cool-grey-2;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
        }

        span{
            background-color: $white;
            padding: 4px 8px;
            display: inline-block;
            z-index: 3;
            color: $cool-grey-2;
        }
    }

    #submit-button{
        @include size(48px, 48px);
        position: absolute;
        right: 4px;
        top: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        color: $cool-grey-4;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 150ms $ease;

        &.is-visible{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }

        @include hover{
            color: $cool-grey-5;

            &:before{
                transform: scale(0.87);
                opacity: 0.07;
                transition: all 150ms $ease-in;
            }
        }
        
        @include active{
            color: $primary;

            &:before{
                transform: scale(1);
                opacity: 0.1;
                transition: all 75ms $ease;
            }
        }

        &::before{
            content:"";
            display: inline-block;
            border-radius: 50%;
            @include size(100%, 100%);
            background-color: $primary;
            opacity: 0;
            transform: scale(0);
            transition: all 75ms $ease-sharp;
            position: absolute;
        }

        svg{
            @include size(24px, 24px);
        }
    }

    p{
        opacity: 0.6;
    }
}

@keyframes hideModal{
    from{
        transform: translateY(0);
        opacity: 1;
        user-select: auto;
        pointer-events: all;
        visibility: visible;
    }
    to{
        transform: translateY(-25px);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        user-select: none;
    }
}
