@import 'settings';
@import 'mixins';

#homepage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .o-form{
        padding: $unit*2;
        background-color: $white;
        border-radius: 4px;
        display: grid;
        width: 460px;
        grid-template-rows: 1fr;
        gap: $unit;
        box-shadow: $elevation-1;
    }

    #input-split{
        width: 100%;
        display: block;
        text-align: center;
        line-height: 56px;

        &::after{
            content:"";
            display: inline-block;
            background-color: $cool-grey-2;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
        }

        span{
            background-color: $white;
            padding: 4px 8px;
            display: inline-block;
            z-index: 3;
            color: $cool-grey-2;
        }
    }

    p{
        opacity: 0.6;
    }
}


