@import 'settings';
@import 'mixins';

.o-setup-form{
    width: 640px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: $elevation-1;
    position: absolute;
    transform: translateY(25px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    animation: showModal 150ms 75ms $ease-in forwards;
    transition: all 150ms $ease;

    &.is-hidden{
        animation: hideModal 75ms 0ms $ease-sharp forwards;
    }

    form-step{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: $unit*2 $unit*2 68px;
        visibility: hidden;
        opacity: 0;
        user-select: none;
        pointer-events: none;
        transition: all 75ms $ease-sharp;
        width: 100%;

        &.is-visible{
            visibility: visible;
            opacity: 1;
            user-select: auto;
            pointer-events: all;
            transition: all 150ms 75ms $ease-in;
        }

        form-controls{
            position: absolute;
            bottom: 16px;
            right: $unit*2;
        }
    }
}

@keyframes hideModal{
    from{
        transform: translateY(0);
        opacity: 1;
        user-select: auto;
        pointer-events: all;
        visibility: visible;
    }
    to{
        transform: translateY(-25px);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        user-select: none;
    }
}

@keyframes showModal{
    from{
        transform: translateY(25px);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        user-select: none;
    }
    to{
        transform: translateY(0);
        opacity: 1;
        user-select: auto;
        pointer-events: all;
        visibility: visible;
    }
}